:root {
    --primary-color: #007bff;
    --secondary-color: #f4f4f4;
    --dark-color: #282c34;
    --light-color: #ffffff;
    --hover-color: #0056b3;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: center;
    padding: 1rem;
}

h2 {
    margin-top: 0;
}



.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light-color);
    width: 6rem;
    height: 6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    transition: opacity 0.5s ease;
}
.box.fade-in {
    opacity: 1;
}
.box.fade-out {
    opacity: 0;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background: rgba(0, 0, 0, .5);
    border-radius: 50%;
    padding: 2px 6px;
    transition: background-color .3s ease;
}
.close-button:hover {
    background-color: rgba(255, 0, 0, .8);
}

.grid-active {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 51px 51px;
    background-position: top left;
    pointer-events: none;
    z-index: 1;
}



#actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

#actions button {
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
}

#actions button:hover {
    background-color: #0056b3;
}

#add-box {
    background-color: #006400;
    color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color .3s ease;
}
#add-box:hover {
    background-color: #008000;
}

#box1 {
    background-color: #FF0000;
}

#box2 {
    background-color: #008000;
}

#box3 {
    background-color: #0000FF;
}

#canvas {
    /* width: 80%; */
    width: 800px;
    height: 400px;
    display: flex;
    margin: 20px auto;
    background-color: var(--secondary-color);
    border: 1px solid #ddd;
    position: relative;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}
#canvas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 1.) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, .1) 1px, transparent 1px);
    background-size: 50px 50px;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

#code-view {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #f4f4f4;
}

#code-view div {
    width: 45%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
    gap: 2rem;
}

#controls label {
    margin-right: .5rem;
    font-weight: bold;
}

#controls select {
    padding: .5rem;
    font-size: 1rem;
}

#css-code {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
    color: #333;
    font-family: monospace
}

#css-code h3 {
    margin-top: 0;
    color: #007bff;
}

#direction-select {
    padding: 5px;
    font-size: 1rem;
    margin-left: 10px;
}

#flex-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

#flex-controls label {
    margin-right: .5rem;
}

#flex-controls select {
    padding: .5rem;
    font-size: 1rem;
}

#footer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f4f4f4;
}

#grid-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

#grid-controls label {
    margin-right: .5rem;
}

#grid-controls input {
    padding: .5rem;
    font-size: 1rem;
    width: 200px;
}

#html-code {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
    color: #333;
    font-family: monospace;
}

#html-code h3 {
    margin-top: 0;
    color: #007bff;
}

#message-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffcc00;
    color: #000;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    z-index: 1000;
    display: none;
}

#saved-snippets {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

#saved-snippets h2 {
    margin-top: 0;
}

#snippets-list {
    list-style: none;
    padding: 0;
}

#snippets-list li {
    margin: .5rem 0;
    padding: .5rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
}



@media (max-width: 768px) {
    #canvas {
        width: 100%;
        height: 300px;
    }
}