@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
    font-family: "Electrolize", sans-serif;
}

nav {
    background-color: #f8c007;
}

#nome_empresa {
    font-size: xx-large;
}